* {
        font-family: 'Kanit', 'Maven Pro', Helvetica, Arial, sans-serif;
        margin: 0px;
    
    }
    hr {
        color: #FFC045;
        background-color: #FFC045;
        height: 1.5px;
        margin-left:2px;
        margin-right:2px;

    }
    a {
        color: #181818ee;
        text-decoration:none;
  
    }
    a:hover{
        cursor: pointer;
        color:#0A91AB;
     
    }
    h2 {
        margin-top: 20px;
        margin-left: 20px;
        margin-bottom: 10px;
        color:#0A91AB;
        width:95%;
    }
    h3 {
        padding-left: 5px;
        color:#FFC045;
    }
    p {
        padding: 5px;
        color:#181818ee;
    }

    /*Título, barra de navegación y footer*/
    header {
        padding: 20px;
        margin: 0px;
        background-color: #0A91AB;
        text-align: center;
        color:#FFC045;
    }
    .logo {
        width: 5%;
        align-items: center;
    }
    nav {
        text-align: center;
        padding: 10px;
        position:sticky;
        top:0;
        background-color: #FFC045;
        z-index: 1;
    }
    nav a {
        padding: 5px;
        margin: 1px;
        font-weight: bold;
    }
    footer {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        align-items: stretch;
        background-color: grey;
        margin-top: 20px;
        padding: 10px;
    }
    footer a {
        padding: 2px;
        margin: 1px;
    }   
    .copy {
        font-style: italic;
        font-size:smaller;
    }

    /*Página principal menú*/
    .flex-container {
        display: flex;
        flex-wrap: wrap;
        align-items: stretch;
        justify-content: center;
        width: 100%;
    }
    .jocsmenu {
        margin: 10px;
        width: 30%;
        border: 2px dashed #FFC045;
        border-radius: 3%;
        overflow: hidden;
        position: relative;
        padding-bottom: 20px;
    }
    img {
        width: 100%;
    }
    .info {
        float: right;
        right: 5px;
        bottom:5px;
        position: absolute;
        margin:7px;
        border: 2px;
        border-radius: 9%;
        background-color: #FFC045;
        width: 20%;
        text-align: center;
        padding: 2px;
        font-weight: 550;
    }
    .flex-container-2 {
        margin-top: 20px;
        display: flex;
        flex-wrap: wrap;
        align-items: stretch;
        margin-bottom: 20px;
    }
    .trucos {
        background-color: aliceblue;
        text-align: center;
        width: 20%;
        border: 2px dashed #0A91AB;
        border-radius: 3%;
        margin-left: 35px;
    }
    .trucos h2, h3 {
        width: 100%;
        margin-left: 0px;
        margin-top: 5px;
    }
    .noticias {
        display: flex;
        flex-wrap: wrap;
        width: 76%;
        justify-content:center;
        align-items:stretch;
    }
    .noticias h2 {
        margin-left: 0px;
        text-align: center;
    }
    .noti {
        margin: 5px;
        padding:0px;
        width: 46%;
        border: 2px dashed #0A91AB;
        border-radius: 3%;
        overflow: hidden;
        position: relative;
    }
    .leermas {
        float: right;
        right: 5px;
        top:145px;          
        position: absolute;
        margin:7px;
        border: 2px;
        border-radius: 9%;
        background-color: #FFC045;
        width: 18%;
        text-align: center;
        font-weight: 550;
        padding: 3px;
    }
    .noti img {
        height: 250px;
        width: 100%;
        display: block;
    }
    .ranking {
        display: flex;
        flex-wrap: wrap;
        align-items: stretch;
        justify-content: space-around;
        width: 100%;
    }
    .ranking h2 {
        text-align: center;
    }
    .ranking p {
        font-style: italic;

    }
    .ranker {
        margin: 10px;
        width: 90%;
        border: 2px dashed #FFC045;
        border-radius: 50%;
        overflow: hidden;

    }
    .rankerinfo {
        text-align: center;
        width: 15%;
    }
 
    /*Página de videojuegos*/
    .jocsvideojocs {
        margin: 10px;
        width: 40%;
        border: 2px dashed #FFC045;
        border-radius: 3%;
        overflow: hidden;
        position: relative;
        padding-bottom: 20px;
    }
    .jocsvideojocs h3 {
        padding: 5px;
    }
    .jocsvideojocs span {
        color:#0A91AB;
        padding: 10px;
        font-weight: bold;
    }
    .jocsvideojocs p {
        color:black;
    }
    .flex-paginacio{
        margin-top: 40px;
        margin-bottom: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
    }
    .pag a{
        color:#0A91AB;
        border: 1px solid #0A91AB;
        padding: 10px;
        text-align: center;
    }
    .pag a:hover{
        background-color: #0A91AB;
        color: white;
    }
    .pagcont {
        display: flex;;
        margin-top: 20px;
    }
    .active a {
        color: #fff;
        background-color: #0A91AB;
    } 

    /*Página de contacto*/
    .vertical{
        width:3px;
        background-color: #0A91AB;
        margin-top: 5%;
        margin-bottom: 5%;

    }
    .contacte {
        margin: 10px;
    }
    input, textarea {
        margin: 10px;
        width: 97%;
    }
    .boton {
        width: 97%;
        height: 40px;
        color: #fff;
        padding: 5px 10px;
        font-weight: bold;
        cursor: pointer;
        transition: all 0.3s ease;
        border: 2px solid #FFC045;
        background: #FFC045;
    }
      .boton:hover {
        background: #fff;
        color: #0A91AB
      }

    /*Página individual de videojuegos*/
    .joc-container {
        border: 2px dashed #FFC045;
        border-radius: 3%;
        margin: 50px;
        padding: 20px;
        justify-content: center;
        position: relative;
    }
    .joc-container h2 {
        position: absolute; 
        text-shadow: 2px 2px 2px white;
        width:20%; 
    }
    .jocimg {
        width: 100%;
        justify-content: center;
    }
    .jocimg img {
        border-radius: 3%;
    }
    .descripcion {
        margin: auto;
        width: 90%;
        padding: 10px;
        justify-content: center;
      }
    .informacion {
        margin-left: 50px;
        display: flex;
        flex-wrap: wrap;
        width: 100%;
    }
    .informacion h3 {
        width: 90%;
    }
    .informacion h4 {
        padding: 5px;
        color:#0A91AB
    }
    .specifics {  
        margin: 10px;
        width:20%;
    }   
    .specifics p{
        padding-bottom: 20px;
    }
    .trailer{
        width: 20%;
        margin: 10px;
        align-self: center;
    }
    .imagenes {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
    }
    .imagenes h3 {
        margin-left: 50px;
        width: 100%;
        justify-content: center;
    }
    .imagenes img {
        margin-top: 10px;
        width: 30%;
    }
